
.bodyUpdatePencilActive{
    display: none;
}
.modalBody{
    grid-template: 7% auto / 60% 40%;
    display: grid;
}
.blockDescription{
    overflow-y: auto;
    /* width: 60%; */
    padding: 15px 15px 0px 0px;
}
.body_modal{
    width: 100vw;
    height: calc(100vh);
    background-color: rgba(0, 0, 0, 0.439);
    display: none;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
}
.body_modal_active{
    display: flex;
}
.modalBody{
    width: 80vw;
    height: 70vh;
    background-color: rgb(248, 248, 248);
    padding: 20px 30px;
}
.blockDescription_idTask{
    display: flex;
    align-items: center;
    /* padding-bottom: 10px; */
}
.idTaskModal_input{
    margin-left: 10px;
}
.blockDescription_buttonGroup{
    display: flex;
}
.buttonGroup_itemButton{
    border:none;
    border-radius: 3px;
    padding: 5px 10px;
    display: flex;
    align-items: center;
    font-size: 14px;
}
.buttonGroup_itemButton:hover{
    background-color: rgba(193, 193, 193, 0.486);
    cursor: pointer;
}
.bodyButton_buttonGroup{
    position: relative;
    display: flex;
}
.itemButtonDropSpan{
    width: auto;
    height: auto;
}
.bodyButton_buttonGroup:not(:last-child){
    margin-right: 15px;
}
.buttonGroup_img, .buttonGroup_img1{
    width: 24px;
    margin-right: 10px;
}
.buttonGroup_img1{
    margin-right: 0;
}
.itemButtonDrop{
    /* position: relative; */
    padding-right: 50px;
}
.itemButtonDrop:hover{
    background-color: rgba(193, 193, 193, 0.486);
    cursor: pointer;
}
.itemButtonDropArrow{
    position: absolute;
    right: 0;
    border: none;
    height: 100%;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    border-left: 1.5px solid rgba(193, 193, 193, 0.756);
}
.itemButtonDropArrow:hover{
    background-color: rgba(193, 193, 193, 0.486);
    cursor: pointer;
}
.imgDropButton{
    width: 12px;
    padding: 8px 8px;
}
.dropMenu_buttonGroup{
    position: absolute;
    bottom: -110px;
    padding: 10px 10px;
    background-color: rgba(241, 241, 241, 0.465);
    border-radius: 3px;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.2);
    visibility: hidden;
}
.activedropMenu{
    visibility: visible;
}
.dropMenuItem{
    margin: 0;
    display: flex;
    align-items: center;
    padding: 5px 5px;
    font-size: 14px;
}
.img_dropMenu{
    width: 24px;
    margin-right: 10px;
}
.dropMenuItem:hover{
    background-color: rgba(193, 193, 193, 0.486);
    border-radius: 3px;
    cursor: pointer;
}
.addDescriptionTask{
    margin-top: 25px;
}
.bodyField_addDescr:hover{
    background-color: rgba(193, 193, 193, 0.486);
    border-radius: 3px;
    display: block;
}
.bodyField_none{
    display: none;
}
.bodyField_show{
    display: block;
}
.addDescr_title, .addDescr_edit{
    margin: 0;
}
.editorBody{
    width: inherit;
    display: block;
}
.editorBody_hide{
    display: none;
}
.addDescr_title{
    padding: 10px;
    font-size: 15px; 
}
.addDescr_edit{
    padding: 10px;
}
.bodyBtnEdit{
    padding-top: 10px;
}
.btnEdit{
    border: none;
    padding: 10px 15px;
    background-color:rgb(0, 0, 255);
    color: #fff;
    font-weight: 600;
    border-radius: 3px;
}
.btnEdit:hover{
    background-color:rgba(0, 98, 255, 1);
    cursor: pointer;
}
.btnEdit:last-child{
    background-color:rgb(255, 255, 255);
    color: #000000;
    margin-left: 15px;
}
.btnEdit:last-child:hover{
    background-color: rgba(193, 193, 193, 0.486);
    cursor: pointer;
}


/* ____________________bodyActivity_________________ */
.bodyActivity{
    display: flex;
    justify-content: space-between;
}
.title_Activity{
    font-size: 15px;
    display: block;
}
.activityShow, .bodyActivityFilt{
    display: flex;
    align-items: center;
}
.activityFilt_icon{
    width: 16px;
}
.activityFilt{
    display: flex;
    align-items: center;
}
.title_Activity, .activityShow, .activityFilt{
    margin: 0;
}
.title_Activity{
    margin: 15px 10px;
}
.bodyActivityShow{
    padding: 0 10px;
}
.activityShow_Item{
    padding: 3px 15px;
    background-color: rgba(231, 231, 231, 0.464);
    border-radius: 3px;
    transition: all 0.2s;
}
.activityShow_Item:not(:last-child){
    margin-right: 10px;
}
.activityShow_Item:hover{
    background-color: rgba(195, 195, 195, 0.659);
    cursor: pointer;
}
.showItem_active{
    background-color: rgba(195, 195, 195, 0.659);
}
.activityFilt_icon{
    padding-left: 15px; 
    transition: all 0.2s;
}
.activityFilt_icon:hover{
    transform: scale(1.1);
}
.activityFilt{
    padding: 3px 15px;
    transition: all 0.2s;
}
.activityFilt:hover{
    background-color: rgba(233, 233, 233, 0.659);
    cursor: pointer;
    border-radius: 3px;
}

/* -------------------------------------------------addComment----------------------- */

.addComment{
    display: flex;
    align-items: center;
    padding: 15px 10px; 
}
.addComment_none{
    display: none;
}
.addComment_inputComm{
    display: flex;
    flex-grow: 1;
}
.addComment_form{
    display: block;
    min-width: 95%;
    padding: 5px 10px;
}
.addComment_input{
    box-sizing: border-box;
    display: block;
    width: 100%;
    height: 40px;
    padding: 5px 10px;
    padding-right: 70px;
    font-size: 14px;
    position: relative;
}
.addComment_input::after{
    content: '';
    position: absolute;
    background: url(../img/send.png);
    width: 24px;
    height: 24px;
    top: 0;
    right: 0;
}
.addComment_label{
    display: block;
    padding-top: 10px;
    position: relative;
}
.iconSendCommentTask{
    position: absolute;
    width: 24px;
    height: 24px;
    top: 18px;
    right: 10px;
    z-index: 1;
    cursor: pointer;
}
.imgUser{
    width: 32px;
    padding: 10px 20px 10px 10px;
}
/* -------------------------------------commentField--------------------------- */
.commentItem{
    display: flex;
    justify-content: start;
}
.commentItem:not(:first-child){
    padding-top: 20px;
}
.commentField{
    width: 100%;
}
.commF_userDetails{
    display: flex;
    margin: 0;
}
.commF_userDetails > .userName{
    color: rgb(10, 27, 66);
}
.commF_userDetails:last-child{
    margin-left: 15px;
}
.commF_comment{
    margin: 7px 0px;
}
.commF_changeComm{
    display: flex;
    align-items: center;
    position: relative;
}
.chanComm_BodyImg{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 25px;
    border-radius: 15px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
}
.chanComm_iconReaction{
    width: 18px;
    transition: all 0.3s;
}
.chanComm_iconReaction:hover{
    transform: scale(1.2);
    cursor: pointer;
}
.changeComm_item{
    color:gray; 
    font-weight: 500;
}
.changeComm_item:not(:last-child):hover{
    text-decoration: underline;
    cursor: pointer;
}
.changeComm_item:not(:first-child){
    margin-left: 15px;
}
/* ==============================================taskActions=================== */

.taskActions{
    display: flex;
    justify-content: end;
    align-items: center;
}
.taskAct_icon{
    width: 24px;
}
.traskAct_bodyIcon{
    display: flex;
    align-items: center;
    position: relative;
    cursor: pointer;
    margin: 0;
    white-space: nowrap;
}
.bodyTracking{
    transition: all 0.5s;
}
.bodyTracking::after{
    content: 'Параметри відслідовування';
    position: absolute;
    padding: 5px 5px;
    color: #fff;
    background-color: rgb(7, 0, 47);
    border-radius: 5px;
    top: -30px;
    left: 50%;
    transform: translateX(-50%);
    width: auto;
    flex-wrap: nowrap;
    display: none;
    transition: display 0.2s;
}
.bodyTracking:hover::after {
    display: block;
}


.bodyМoting::after{
    content: 'Варіанти голосування';
    position: absolute;
    padding: 5px 5px;
    color: #fff;
    background-color: rgb(7, 0, 47);
    border-radius: 5px;
    top: -30px;
    left: 50%;
    transform: translateX(-50%);
    display: none;
    transition: display 0.2s;
}
.bodyМoting:hover::after {
    display: block;
}


.bodyShare::after{
    content: 'Параметри відслідовування';
    position: absolute;
    padding: 5px 5px;
    color: #fff;
    background-color: rgb(7, 0, 47);
    border-radius: 5px;
    top: -30px;
    left: 50%;
    transform: translateX(-50%);
    display: none;
    transition: display 0.2s;
}
.bodyShare:hover::after {
    display: block;
}


.bodyActions::after{
    content: 'Параметри відслідовування';
    position: absolute;
    padding: 5px 5px;
    color: #fff;
    background-color: rgb(7, 0, 47);
    border-radius: 5px;
    top: -30px;
    left: 50%;
    transform: translateX(-50%);
    display: none;
    transition: display 0.2s;
}
.bodyActions:hover::after {
    display: block;
}

.closeModal{
    padding: 7px 7px;
    margin-left: 15px;
}

.closeModal::after{
    content: 'Закрити';
    position: absolute;
    padding: 5px 5px;
    color: #fff;
    background-color: rgb(7, 0, 47);
    border-radius: 5px;
    top: -30px;
    left: 50%;
    transform: translateX(-50%);
    display: none;
    transition: display 0.2s;
}
.closeModal:hover::after {
    display: block;
}
.taskAct_icon{
    padding: 5px 0;
}

.traskAct_bodyIcon:not(:last-child){
    padding: 0px 10px;
}

.traskAct_bodyIcon:hover{
    background-color: rgba(233, 233, 233, 0.659);
    border-radius: 5px;
}

/* ==========================================blockDetails==================================== */

.blockDetails{
    padding: 0px 20px;
    overflow-y: scroll;
}
.statusTaskActions{
    display: flex;
    padding: 10px 0px;
}

.statTaskAct{
    display: flex;
    align-items: center;
    margin: 0;
    padding: 5px 10px;
    cursor: pointer;
    transition: all 0.2s;
}

.statTaskAct:not(:last-child){
    margin-right: 15px;
}

.statTaskAct:hover{
    background-color: rgba(233, 233, 233, 0.659);
    border-radius: 5px;
}




.accordionDetails{
    /* padding: 10px 15px; */
    border-radius: 5px;
    border: 1px solid #000000;
}
.iconArrow{
}
.accordion-header{
    padding: 10px 15px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #000000;
    border-radius: 5px;

}
.accordion-content{
    padding: 10px 15px;
}
.accordion-content p{
    margin: 0;
}
.tableAccordion tr{
    height: 50px;
}
.bodyAssignedAvatar{
    display: flex;
    align-items: center;
    cursor: pointer;
}
.bodyAssignedAvatar, .asgnAcord_padding{
    padding: 5px;
}
.bodyAssignedAvatar:hover{
    background-color: rgba(233, 233, 233, 0.659);
    border-radius: 5px;
}
.assigneeAcordion{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0;
}
.assignedAvatar{
    margin-right: 15px;
}
.addAsegnee{
    padding: 10px;
    color: blue;
    cursor: pointer;
    transition: all 0.3s;
    text-align: end;
}
.addAsegnee:hover{
    color: #290099;
}

.asgnAcord_descr{
    display: flex;
    justify-content: start;
}


.bodySetting{
    display: flex;
    justify-content: space-between;
    padding-top: 15px;
}
.dateAdd-Editting{
    color: rgba(86, 86, 86, 0.659)
}
.dateAE{
    margin: 5px 0;
}
.Setting span{
    padding: 5px 15px;
    display: flex;
    align-items: center;
}
.Setting span:hover{
    background-color: rgba(233, 233, 233, 0.659);
    border-radius: 5px;
    cursor: pointer;
}
.settingIcon{
    width: 24px;
    margin-right: 10px;
}
.blockDescription_titleTask{
    display: flex;
    justify-content: space-between;
    align-items:center;
    height: 51px;
}
.bodyIconUpdateTask{
    overflow: visible;
    position: relative;
    margin-top: auto;
    margin-bottom: 5px;
}
/* .bodyIconUpdateTaskActive{
    display: block;
} */
.bodyIconUpdateTask img{
    cursor: pointer;
    width: 24px;
    transition: all 0.2s ease;
}
.bodyIconUpdateTask img:hover{
    transform: scale(1.1);
    filter: drop-shadow(0px 0px 50px rgb(0, 0, 0, 0.4));
}
.labelUpdateTaskName{
    width: 90%;
}
.inputUpdateTaskName{
    width: 100%;
    box-sizing: border-box;
    height: 4vh;
    border-radius: 10px;
    padding: 10px;
    font-size: 15px;
}  
.inputUpdateTaskName:focus{
    outline: none;
    box-shadow: 0px 0px 3px #919191;
}
.spanIconUpdateTask:first-child{
    margin-right: 20px;
}


.icnUpdTask{
    position: relative;
    transition: all 0.5s;
}
.icnUpdTask:after{
    content: 'Редагувати name таску / Вийти';
    position: absolute;
    padding: 5px 5px;
    color: #fff;
    background-color: rgb(7, 0, 47);
    border-radius: 5px;
    top: -40px;
    left: -50px;
    transform: translateX(-50%);
    white-space: nowrap;
    display: none;
    transition: display 0.2s;
}
.icnUpdTask:hover::after {
    display: block;
}

.icnSndTask{
    position: relative;
    transition: all 0.5s;
}
.icnSndTask:after{
    content: 'Змінити (відправити) дані';
    position: absolute;
    padding: 5px 5px;
    color: #fff;
    background-color: rgb(7, 0, 47);
    border-radius: 5px;
    top: -40px;
    left: -50px;
    transform: translateX(-50%);
    white-space: nowrap;
    display: none;
    transition: display 0.2s;
}
.icnSndTask:hover::after {
    display: block;
}
.selectUpateTask{
    width: 100%;
    padding: 10px;
    border-radius: 10px;
}
.selectUpateTask:focus{
    outline: none;
    box-shadow: 0px 0px 3px #919191;
}
.addDescriptionTack{
    width: 100%;
    height: 10vh;
}
.updComm{
    padding: 0;
}
.icnUpdComm{
    top: calc(50% - 12px); 
}
.doYouWontDelete{
    position: absolute;
    top: -130px;
    left: 50px;
    text-align: center;
    border-radius: 10px;
    padding: 10px;
    background-color: rgba(0, 0, 255, 0.337);
    border: 2px solid #fff;
    backdrop-filter: blur(8.5px);
}
.doYWntDlt_question{
    display: block;
    padding: 25px 10px;
    font-size: 16px;
    color:#fff;
}
.doYWntDlt_button {
    display: flex;
    justify-content: space-around;
}
.doYWntDlt_button b{
    flex-grow: 1;
    padding: 10px 25px;
    background-color: #ffffffb5; 
    border-radius: 10px;
}
.doYWntDlt_button b:first-child{
    margin-right: 15px;
}
.doYWntDlt_button b:first-child:hover{
    background-color: #d3d3d3b5;
    cursor: pointer;
}
.doYWntDlt_button b:last-child{
    margin-left: 15px;
}
.doYWntDlt_button b:last-child:hover{
    background-color: #9fee9ccd;
    cursor: pointer;
}
